body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

a {
    color: #4dabf7;
}

.dropdown-container {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.dropdown-container>div {
    display: flex;
    align-items: center;
}

select {
    padding: 5px;
    margin-right: 10px;
    background-color: #2d2d2d;
    color: #ffffff;
    border: 1px solid #444;
    border-radius: 4px;
}

label {
    margin-right: 5px;
    font-weight: bold;
}

.separator {
    max-width: 1620px;
    height: 1px;
    background-color: #444444;
    margin: 15px auto;
}

.iframe-container {
    display: flex;
    justify-content: center;
    max-width: 1620px;
    max-height: 820px;
    background-color: #121212;
}

#viewer {
    max-width: 1620px;
    max-height: 820px;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 880px;
    background-color: transparent;
    overflow: hidden;
}

#noDataMessage {
    padding: 20px;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    display: none;
}